@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="FileUpload.FormFile"></label>
            </dt>
            <dd>
                <input asp-for="FileUpload.FormFile" type="file">
            </dd>
        </dl>
        <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
    </form>
</div>
